@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: black;
  background: #eaedf2;
  height: auto;
  overflow-y: auto;
  min-height: 100vh;
}

.linear-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    90deg,
    #6f32bb,
    #7230ff 33.33%,
    #b377fe 55.5%,
    #7331fe 76%,
    #6f32bd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
